# -----------------------------------------------------------------------------
# Ignore everything :)
# -----------------------------------------------------------------------------
*

# -----------------------------------------------------------------------------
# Except for these:
# -----------------------------------------------------------------------------

# Bash stuff
!.bash_aliases

# Vim stuff
!.vim/
!.vim/vim-update.sh
!.vimrc

# And this file of course
!.gitignore
